@import 'defaults';
$default-border: white;

@mixin colors($color) {
    background: $color;
    border-color: $color;

    &:hover {
        color: $color;
        background: $default-border;
    }

    &.loading {
        color: $color;

        &:hover {
            color: $color;
        }
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
   

button {
    font-size: 1em;
    padding: $padding $padding * 2;
    color: $default-border;
    border-radius: $border-radius;
    cursor: pointer;
    transition: ease background $transition-time;
    outline: none;
    position: relative;
    margin: $padding;

    @include colors($primary);

    &.success {
        @include colors($success);
    }

    &.warning {
        @include colors($warning);
    }

    &.danger {
        @include colors($danger);
    }

    &.loading {

        color: $default-border;

        &:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border: 2px solid $default-border;
            border-top-color: $primary;
            animation: spinner .6s linear infinite;
        }
    }
}