@import 'defaults';
$default-border: white;

@mixin colors($color) {
    background: $color;
    border-color: $color;

    &:hover {
        color: $color;
        background: $default-border;
    }

    &.loading {
        color: $color !important;

        &:hover {
            background: $color;
        }
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
   

button {
    font-size: 1em;
    padding: $padding $padding * 2;
    color: $default-border;
    border-radius: $border-radius;
    cursor: pointer;
    transition: ease background $transition-time;
    outline: none;
    position: relative;
    margin: $padding;

    @include colors($primary);

    &.success {
        @include colors($success);
    }

    &.warning {
        @include colors($warning);
    }

    &.danger {
        @include colors($danger);
    }

}