@import '../defaults';
icon-input, .icon-input {

    margin: $padding;
    display: inline-block;
    box-sizing: border-box;

    .icon, i {
        position: absolute;
        font-size: $font-size;
        margin-top: $padding;
        margin-left: $padding;
        color: #888;
        border: none;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 100%;
        padding-left: $padding * 4;
        margin: 0px;
    }
}