@import '../defaults';
icon-input, .icon-input {

    width: 100%;

    .icon, i {
        position: absolute;
        font-size: $font-size;
        margin-top: $padding;
        margin-left: $padding;
        color: #888;
        border: none;
    }

    input {
        width: 100%;
        padding-left: $padding * 4;
        margin: 0px;
    }
}