@import '../defaults';

joined, .joined {
    max-width: 100%;
    display: flex;
    border: solid 1px $primary;
    border-radius: $border-radius;

    *, *:hover, *:active {
        margin: 0px;
        border-radius: 0px;
        border: none;
        border-right: solid 1px $primary;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            border-right: none;
        }
    }
}