navbar, .navbar {
    position: fixed;
    background: $primary;
    color: $b-primary;
    width: 100%;
    padding: $padding;
    z-index: 1000;
}

.has-navbar {
    padding-top: $padding * 8 !important;
}