@import '../defaults';
sidenav, .sidenav, side-nav {
    position: fixed;
    height: 100%;
    padding: $padding;
    background: $b-primary;
    display: block;
    transition: transform $transition-time ease;
    will-change: transform;
    transform: translateX(-100%);
    box-sizing: border-box;


    &.open {
        transform: translateX(0);
    }

}