@import 'defaults';
sidebar, .sidebar, side-bar {
    position: fixed;
    height: 100%;
    padding: $padding;
    background: white;
    display: block;
    transition: transform $transition-time ease;
    will-change: transform;
    transform: translateX(-100%);

    &.open {
        transform: translateX(0);
    }
}