$primary: #3273dc;
$success: #23d160;
$warning: #ffdd57;
$danger: #ff3860;

$b-primary: #fff;
$b-secondary: #ddd;

$border-radius: 3px;
$default-size: 1em;
$padding: $default-size / 2;
$font-size: $default-size;

$transition-time: 0.1s;

.loading {

    color: $b-primary;

    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid $b-primary;
        border-top-color: $primary;
        animation: spinner .6s linear infinite;
    }
}