$primary: var(--primary, #3273dc);
$success: var(--success, #23d160);
$warning: var(--warning, #ffdd57);
$danger: var(--danger, #ff3860);

$b-primary: var(--b-primary, #fff);
$b-secondary: var(--b-secondary, #ddd);

$border-radius: var(--border-radius, 3px);
$default-size: 1em;
$padding: $default-size / 2;
$font-size: $default-size;

$transition-time: 0.1s;

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {transform: rotate(360deg);}
}

.loading {

    color: $b-primary;

    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid $b-primary;
        border-top-color: $primary;
        -webkit-animation: spinner 1.1s infinite linear;
        animation: spinner 1.1s infinite linear;
    }
}

.rounded {
    border-radius: $default-size;
    overflow:hidden;
}

@mixin colorTemplate($color) {
    border: $color;
    color: $color;
}

*.danger {
    @include colorTemplate($danger);
}

*.warning {
    @include colorTemplate($warning);
}

*.success {
    @include colorTemplate($success);
}

*.primary {
    @include colorTemplate($primary);
}