@import 'components/button';
@import 'components/input';
@import 'components/modal';
@import 'components/card';
@import 'components/navbar';
@import 'components/sidebar';
@import 'layout';
@import 'level';
@import 'components/menu';


html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    min-width: 100%;
}