@import 'components/button';
@import 'components/input';
@import 'components/modal';
@import 'components/card';
@import 'components/navbar';
@import 'components/sidenav';
@import 'layout';
@import 'level';
@import 'components/menu';
@import 'components/joined';
@import 'components/icon-input';


html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    min-width: 100%;
}

.joined {
    margin: 20px;
    width: 50%;
}