@import 'defaults';

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.padding {
    padding: $padding;
}